@media (min-width: 1000px) {
    :root {
      font-size: 16px;
      
    }
    body{
      padding: 0 10%;
      
    }
    h1 {
      font-size: 2.5rem;
    }
    .top-bar *{
      position:relative;
      height: 2rem;
      /* width: max-content; */
    }
    .top-bar {
      /* width: 100vw; */
      position: relative;
      all:unset;
      width:100%;
      display: inline-grid;
      grid-template-columns: min-content auto 40px 40px;
      grid-template-areas: "logo nav basket-button avatar";
      gap: clamp(0vw, 2vw, 4vw);
      height: 60px;
      align-items: center;
      padding-bottom:2em;
      border-bottom: solid 2px var(--light-grayish-blue);
      margin-bottom:1rem;
  
    }
    .cart {
      position:absolute;
      right:2rem;
      top: 4rem;
    }
    nav {
      display: flex;
      flex-direction: row;
      height:inherit;
      order: 2;
    }
    .logo {
      order: 1;
      height: 1.5rem;
    }
    .avatar{
      height: 3rem;
    }
    .nav-menu {
      display: inline-flex;
      flex-direction: row;
      align-self: center;
      justify-self: center;
      position: static;
      margin-top: 0;
      height:inherit;
      width: 100%;
      /* justify-content:space-evenly; */
      background-color: transparent;
      /* border: solid 1px red; */
      gap: 0.55rem;
      padding-left: 0;
      z-index: 0;
    }
    .nav-menu-list {
      font-weight: 400;
      height:100%;
      align-self: center;
      padding:0;
      width:100%;
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
      /* border: solid 1px red; */
    }
    .nav-menu-close{
      display: none;
    }
    .basket-button{
      position: relative;
      height: 1.5rem;
    }
    .nav-menu li {
      margin: 0;
      padding: 0;
    }
  
    .nav-toggle {
      display: none;
    }
    .top-image img{
      height: inherit;
      width: auto;
    }
    main{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-direction: row;
      /* border: 1px solid green; */
      height:calc(100vh - 10rem);
  
    }
  
    .product-images{
      display: flex;
      flex-direction: column;
      align-items: center;
      height:fit-content;
      max-height: 80vh;
      width: fit-content;
      /* border: 1px red solid; */
    }
    .product-image-button{
      display: none;
    }
    .product-image{
      border-radius: 2rem;
    }
    .product-image-carosel{
      display: flex;
      
  
    }
  
  
  
  
    /** product text **/
    .product-text{
      padding: 0 2rem;
    }
    .price-container{
      grid-template-areas: "price discount" 
                            "rr-price placeholder";
      grid-template-columns: min-content min-content;
      justify-content: flex-start;
      padding-bottom: 2em;
    }
    .rr-price{
      text-align: left;
      justify-self: flex-start;
    }
    .order-controls{
  
      display: flex;
      flex-direction: row;
      height: 2.5rem;
    }
    
    .order-controls-addtoCart {
      flex-basis: 2;
      padding:0;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 0.75rem;
      
    }
    .order-controls-amounts{
      flex-basis: 1;
      margin:unset;
      margin-right: 1rem;
      max-width: 7rem;
    }
  
  }
  